<div class="container-fluid">
  <div class="row" >
    
    <div class="col-8" style="background-color: #A4B99C;">

    </div>
      
    <div class="col-4">
      <div class="pt-4 px-5 text-center">
        <p id="heading">Retro</p>
        <p style="font-size: 1.5rem;">Sign in</p>

        <form>
          <div class="md-form">
            <fa-icon [icon]="faEnvelope" class="prefix fawesome-align"></fa-icon>
            <input mdbInput type="email" class="form-control" id="email">
            <label class="small-grey-label" for="email">Your email</label>
          </div>

          <div class="md-form" style="margin-bottom:0;">
            <fa-icon [icon]="faLock" class="prefix fawesome-align"></fa-icon>
            <input mdbInput type="password" class="form-control" id="password">
            <label class="small-grey-label" for="password">Your password</label>
          </div>

          <div class="d-flex justify-content-end">
              <a href="" class="small-grey-label">Forgot password?</a>
          </div>

          <button mdbBtn mdbWavesEffect color="dark" class="btn-rounded" >Sign In</button>        
        </form>

        <p class="separator">or</p>

        <a type="button" class="mx-2 mb-5 text-info font-weight-bold">
          <fa-icon [icon]="faMicrosoft" class="fa-lg"></fa-icon> Sign in with Microsoft
        </a>
        <p>New to Retro?<a type="button" class="mx-1 bold-ul">Create Account</a></p>

      </div>

    </div>
  
  </div>
</div>